target/
!.mvn/wrapper/maven-wrapper.jar
*.log
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.run
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac ###
.DS_Store

### Spring Dev Credentials ###
config/*.yml

### Docker Test Credentials ###
.env

### K8s Credentials
k8s/dev/config.yaml
k8s/test/config/config.yaml
k8s/prod/config/config.yaml
